# images log files like ubuntu-xenial-16.04-cloudimg-console.log
*.log

# vm info
.vagrant

# Vagrant ENV Plugin (dotenv)
.env.*

# ssh private key
templates/id_rsa

# git config
templates/.gitconfig
